* {
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100vh;
    background-color: aliceblue;
}

.flag-body {
    height: 250px;
    width: 500px;
    background-color: green;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
}

.flag-circle {
    height: 130px;
    width: 130px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

.flag-handle {
    height: 200px;
    width: 50px;
    background-color: black;
    position: relative;
    top: 90%;
    border-top-right-radius: 30px;
}

.flag-footer {
    height: 50px;
    width: 100px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}